.flip-card {
  background-color: transparent;
  width: 7vh;
  height: 7vh;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 1vh;
}

.image {
  width: 6vh;
  height: 6vh;
  border-radius: 1vh;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 7vh;
  height: 7vh;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 7vh;
  height: 7vh;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 1vh;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: transparent;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #efd2dc;
  color: #3f0000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.title {
  font-family: "Edu TAS Beginner", cursive;
  font-size: 1.5vh;
  overflow: hidden;
}
